.logo {
    font-family: 'GFS Didot';
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: white;
    background: black;
    padding: 15px;
    text-decoration: none;
}

a:link, :visited {
    color: white; 
    text-decoration: none;
}

.inicial {
    align-items: center;
    display: flex;
    font-family: 'Rubik';
    text-align: center;
}

.inicial__imagem {
    width: 50%;
}

.inicial__titulo {
    color: black;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.inicial__texto {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.botao__inicial {
    background: white;
    border-color: black;
    border-radius: 40px;
    color: black;
    font-family: 'Rubik';
    font-size: 15px;
    margin-top: 20px;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.botao__inicial:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.descricao__titulo {
    font-family: 'Rubik';
    font-size: 40px;
    margin: 30px;
}

.novidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
} 

.novidades__item:nth-child(1) {
    grid-row: 1 / 3;
}

.novidades__item {
    display: grid;
    justify-items: center;
}

.novidades__imagem {
    width: 50%;
    border-radius: 10px;
    justify-items: center;
    margin-bottom: 20px;
}

.livro {
    border-radius: 10px;
    width: 80%;
    margin-bottom: 20px;
}

.novidades__titulo {
    font-family: 'Rubik';
    text-transform: uppercase;
    margin-bottom: 10px;
}

.descricao__titulo {
    text-align: center;
}

.descricao__texto {
    font-family: 'Rubik';
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
}


.imagem__revista {
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.revista__digital {
    text-align: center;
}

.horoscopo {
    background: white;
    display: flex;
    padding: 5rem 0 0 5rem;
}

.horoscopo__conteudo {
    border-radius: 10px;
    display: grid;
    margin-bottom: 5rem;
    margin-right: 5rem;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
}


.imagem__horoscopo {
    border-radius: 10px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 170px;

}

.conteudo__final {
    padding: 40px;
}

.tenor-gif-embed {
    height: 170px;
    margin-bottom: 20px;
}

.input-padrao {
	padding: 5px 15px;
	width: 70%;
}
