.logo {
    background: black;
    color: white;
    font-family: 'GFS Didot';
    font-size: 50px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

a:link, :visited {
    color: white; 
    text-decoration: none;
}

body {
    background-color: rgb(252, 228, 232);
}

.inicial {
    align-items: center;
    display: flex;
    font-family: 'Rubik';
    text-align: center;
}

.inicial__imagem {
    width: 50%;
}

.inicial__titulo {
    color: black;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.inicial__texto {
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.botao__inicial {
    background-color: black;
    border-color: white;
    border-radius: 40px;
    color: white;
    font-family: 'Rubik';
    font-size: 15px;
    margin-top: 20px;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.botao__inicial:hover {
    background: rgb(248, 19, 99);
    color: white;
    cursor: pointer;
}

.descricao__titulo {
    font-family: 'Rubik';
    font-size: 40px;
    margin: 30px;
}

.novidades {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
} 

.novidades__item:nth-child(1) {
    grid-row: 1 / 3;
}

.novidades__item {
    display: grid;
    justify-items: center;
}

.novidades__imagem {
    border-radius: 10px;
    justify-items: center;
    margin-bottom: 20px;
    width: 50%;
}

.livro {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.novidades__titulo {
    font-family: 'Rubik';
    margin-bottom: 10px;
    text-transform: uppercase;
}

.descricao__titulo {
    text-align: center;
}

.descricao__texto {
    font-family: 'Rubik';
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}


.imagem__revista {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 25%;
}

.revista__digital {
    text-align: center;
}

.horoscopo {
    display: flex;
    padding: 5rem 0 0 5rem;
    text-align: center;
}

.horoscopo__conteudo {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    margin-right: 5rem;
    padding: 60px;
}


.imagem__horoscopo {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 30%;
}

.conteudo__final {
    padding: 40px;
}

.tenor-gif-embed {
    height: 170px;
    margin-bottom: 20px;
}

.input-padrao {
    border-radius: 10px;
    margin: 8px 0;
	padding: 5px 15px;
    width: 70%;
}

.rodape__logo {
    width: 5%;
}

.lista__link {
    display: inline-block;
    font-family: 'GFS Didot';
    font-size: 14px;
    margin: 1em;
    text-transform: uppercase;
}

.rodape {
    background:black;
    text-align: center;
}

.rodape__texto {
    color: white;
    font-family: 'GFS Didot';
    font-size: 12px;
    margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
        padding: 0;
    }

    .inicial__imagem {
        width: 100%;
    }

    .container__inicial {
        font-size: 15px;
        margin: 2em 2em;
    }

    .container__novidades {
        margin: 5px;
        text-align: center;
    }

    .descricao__titulo {
        text-decoration: underline;
        margin: 0;
    }

    .horoscopo__conteudo {
        grid-template-columns: 1fr;
        padding: 0;
        text-align: center;
    }

    .rodape__logo {
        width: 15%;
    }
}
