.logo {
    font-family: 'GFS Didot';
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    color: white;
    background: black;
    padding: 15px;
    text-decoration: none;
}

a:link, :visited {
    color: white; 
    text-decoration: none;
}

.inicial {
    align-items: center;
    display: flex;
    font-family: 'Rubik';
    text-align: center;
}

.inicial__imagem {
    width: 50%;
}

.inicial__titulo {
    color: black;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.inicial__texto {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.botao__inicial {
    background: white;
    border-color: black;
    border-radius: 40px;
    color: black;
    font-family: 'Rubik';
    font-size: 15px;
    margin-top: 20px;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.botao__inicial:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.novidades__seçao {
    font-family: 'Rubik';
    font-size: 40px;
    margin-left: 60px;
    margin-top: 30px;
}

.novidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
} 

.novidades__item:nth-child(1) {
    grid-row: 1 / 3;
}

.novidades__item {
    display: grid;
    justify-items: center;
}

.novidades__imagem {
    width: 60%;
    border-radius: 10px;
    justify-items: center;
}

.livro {
    width: 80%;
}

.novidades__titulo {
    font-family: 'Rubik';
    text-transform: uppercase;
}

.novidades__texto {
    font-family: 'Rubik';
    margin-bottom: 20px;
}
